<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>网站简介</h3>
            <p class="am-text-sm">基于图片定位的b2b地推
            <br> sns交友 & 短范围兴趣拼团
            <br> 浏览过的路人 vs 加好友 <br><br>
            </p> 嗯嗯嗯，不知道说啥了，外面的世界真精彩。
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>主要功能</h3>
            <p>
                <a href=""><span>拍照识别</span></a>
                <a href=""><span>拍照团购</span></a>
                <a href=""><span>附近好友</span></a>
                <a href=""><span>附近商家</span></a>
            </p>
            <h3>Credits</h3>
            <p>在这里我将分享一些自己的想法和创作 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>站在巨人的肩膀上</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>schooltop</li>
                    <li>3color244</li>
                    <li>gxbblt</li>
                    <li>ditui</li>
                    <li>dodo</li>
                    <li>zhongyao114</li>
                    <li>...</li>
                </ul>
            </p>
        </div>

    </div>    
    <div class="blog-text-center">© 2017 wuhan Confused</div>    
  </footer>