<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>网站简介</h3>
            <p class="am-text-sm">一个使用ruby工作了七年的程序员，现在在武汉定居。
            <br> 喂马劈柴周游世界是我的梦想。
            <br> 让能力配得上自己的梦想，那么先从写博客开始吧！ 
            <br> 期望有一天能给中国的教育做点贡献，期望每一天做的事情更有意义。<br><br>
            </p> 嗯嗯嗯，不知道说啥了，外面的世界真精彩。
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>工作经历</h3>
            <p>
                <a href=""><span>2011-国家发展研究院</span></a>
                <a href=""><span>2013-神州泰岳</span></a>
                <a href=""><span>2015-爱点击</span></a>
                <a href=""><span>2017-网化商城</span></a>
            </p>
            <h3>Credits</h3>
            <p>在这里我将分享一些自己的想法和创作 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>我站在巨人的肩膀上</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>孙志萌</li>
                    <li>苏震</li>
                    <li>薛士兵</li>
                    <li>覃明园</li>
                    <li>徐甲</li>
                    <li>杨东</li>
                    <li>...</li>
                </ul>
            </p>
        </div>

    </div>    
    <div class="blog-text-center">© 2017 wuhan Confused</div>    
  </footer>