<%= simple_form_for @store, url: admin_store_path(@store) , method: :put, remote: true, html: {id:"edit_point_store"} do |f| %>
  
    <div id="form_message" class="two fields red" style="margin-left: 15px;display:none;" ></div>

    <div class="two fields">
      <%= file_field_tag "draft_img", id: 'draft_img' %>
    </div>

    <div class="two fields">
      <%= f.input :name %>
      <%= f.input :address %>
    </div>

    <div class="field">
      <div class="actions ">
        <div class="ui button primary" id="commition" >提交</div>
        <div class="ui cancel button">取消</div>
      </div>
    </div>
<% end %>




