<%= simple_form_for @contact, url: admin_contact_path(@contact) , method: :put, remote: true, html: {id:"edit_point_vendor"} do |f| %>
  
    <div id="form_message" class="two fields red" style="margin-left: 15px;display:none;" ></div>

    <%= render 'form', f: f, wide: :two %>
    <%= f.submit 'Submit' %>
<% end %>




