<div class="ui modal new_contact">
  <i class="close icon"></i>
  <div class="ui header blue">New Contact</div>
  <div class="content">
    <%= form_for @contact, url: admin_contacts_path(company_id: params[:company_id]) do |f| %>
      <%= render 'form', f: f, wide: :two %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>
